<footer>
	<div class="col">
		<div id="links">
			<div class="frow">
				<div>
					<a href="/privacy-policy">Privacy Policy</a><br>
					<a href="/terms-and-conditions">Terms and Conditions</a>
				</div>
				<div>
					<b>Follow Us</b><br>
					<a href="http://www.instagram.com/smartphonedepotdmv/"><img src="/assets/images/instagram-circle.png" alt="Visit our Instagram" width="33px" height="33px"></a>
					<a href="http://www.facebook.com/Smart-Phone-Depot-399455333834439/"><img src="/assets/images/facebook-circle.png" alt="Visit our Facebook" width="32px" height="32px"></a>
					<a href="https://www.pinterest.com/SmartphoneDepotDMV/"><img src="/assets/images/pinterest.jpg" alt="Visit our Pinterest" width="32px" height="32px"></a>
				</div>
			</div>
		</div>
		<div id="copyright">
			<p>&copy;<span id="date"></span> Smartphone Depot. All rights reserved.</p>	
		</div>
	</div>
</footer>