<footer>
	<div class = "col">
		<div>
			<div class = "frow">
				<div>
					<a href = "privacy-policy.php" style = "color : white">Privacy Policy</a><br>
					<a href = "terms-conditions.php" style = "color : white">Terms and Conditions</a>
				</div>
				<div>
					<b>Follow Us</b><br>
					<a href="http://www.instagram.com/smartphonedepotdmv/"><img src='images/instagram-circle.png' style = "width : 10 px; height : 10 px;"/> </a>
					<a href="http://www.facebook.com/Smart-Phone-Depot-399455333834439/"><img src='images/facebook-circle.png'/></a>
				</div>
			</div>
		</div>
		<div style = "background-color: black">
			<p>&copy;<span id="date"></span> Smartphone Depot. All rights reserved.</p>	
		</div>
	</div>
</footer>
