@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Raleway:300,400,500,700|Material+Icons&display=swap');

*:not(ul) {
	margin: 0;
	padding: 0;
}
.js-focus-visible :focus:not(.focus-visible) {
	outline: 0;
}
html, body {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: Raleway;
}
html {
  	-webkit-text-size-adjust: 100%;
  	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

/*Containers*/
	html, body, .flex-container, .row, .menu, #contactInfo {
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		display: flex;
		flex-wrap: wrap;
	}

a {
	text-decoration: none;
	color: #000;
}
.hidden {
	position: absolute;	
	left: -9999px;
}
h1, h2, h3, h4 {
	text-align: center;
}
h1 {
	font-family: Roboto;
	font-size: 34px;
}
button, input, select, textarea {
	font-family: Raleway;
}
button {
	background-color: transparent;
	border: 0;
	font-size: 100%;
	cursor: pointer;
}

/*Form*/
	form button[type="submit"], .view button {
		padding: 15px 14px;
		background-color: #38C8FC;
		color: #FFF;
		font-weight: 500;
		font-size: 1.1em;
		transition: background-color .5s;
	}
	form button[type="submit"]:hover, form button[type="submit"]:focus, .view button:hover, .view button:focus {
		background-color: #24BBF2;
	}
	form button[type="submit"]:disabled {
		cursor: not-allowed;
	}
	input, select, textarea, button, header * {
		outline: 0;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url(/assets/images/chevron-arrow.png) no-repeat center right 10px #FFF;
		background-size: 11px;
		text-align: center;
		text-align-last: center;
		-ms-text-align-last: center;
		-moz-text-align-last: center;
	}
	input[type=number] {
		-moz-appearance: textfield;
	}
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
	  	-webkit-appearance: none; 
	  	margin: 0; 
	}
	
/*Header*/
	header {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #313131;
		width: 100%;
		height: 95px;
		line-height: 95px;
		z-index: 100;
	}
	#logo {
		margin: 40px 15px 0 30px;
	}
	#sticky {
		background-color: #000;
	}
	nav ul, nav li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	nav ul ul {
		display: block;
	}
	nav li {
		position: relative;
		margin: 0 20px;
	}
	nav li:hover > a, nav li.focus-within > a, a.active  {
		cursor: pointer;
		color: #3EC0F0;
	}
	nav li:focus-within > a {
		color: #3EC0F0;
	}
	.profile a:hover, .profile a:focus, .menu-item a:focus, .menu-item a:hover {
		color: #00AAEF;
	}
	.acct {
		vertical-align: middle;
		font-size: 2.4em;
	}
	.dropdown, .subdropdown {
		font-weight: 500;
		padding-bottom: 12px;
		line-height: 1;
		width: 250px;
	}
	.dropdown a {
		display: block;
		line-height: 1;
		padding: 14px 0;
		width: fit-content;
	}	
	li button {
		font-weight: 300;
		font-size: 1.2em;
	}
	.dropBtn:after {
		font-size: 1.5em;
		content: "+";
		display: block;
		transition: transform .25s ease-in-out;
	}
	li.flex-container {
		align-items: center;
		justify-content: space-between;
	}

/*Search Bar*/
	#search {
		font-family: Raleway;
		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		background: url(/assets/images/search.png) no-repeat right center;
		height: 35px;
		width: 30px;
		font-size: 100%;
		-webkit-transition: width .5s;
		-moz-transition: width .5s;
		transition: width .5s;
		-khtml-background-color: transparent;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		text-align: center;
	}
	#search:valid {
		background-image: none;
	}	
	#search::-webkit-search-cancel-button {
		background: url(/assets/images/reset.png) no-repeat right center;
		position: relative;
		right: 5px;  
		-webkit-appearance: none;
		height: 15.5px;
		width: 15.5px;
		display: block;
		background-size: 15.5px;
	}
	#search:not(:focus):-moz-placeholder {
		color: transparent;
	}
	#search:not(:focus)::-webkit-input-placeholder {
		color: transparent;
	}
	#search:not(:focus)::placeholder {
		color: transparent;
	}
	#search:not(:focus):-ms-input-placeholder {
		color: transparent;
	}
	#search:focus:-ms-input-placeholder {
		color: gray;
	}

/*Main*/
	main {
		padding-top: 100px;
		margin: 70px auto;
		max-width: 100%;
	}
	section h1, caption {
		margin-bottom: 60px;
	}

/*Inventory*/
	#searchbar {
		text-align: center;
	}
	.search {
		font-size: 16px;
		border: 1px solid #DDD;
		margin-bottom: 50px;
		padding: 10px 0;
		text-align: center;
		width: 100%;
		background: url(/images/gray-search.png) no-repeat right 8px center;
	}
	.search:focus {
		border: 1px solid #CCC;
	}
	.search:valid {
		background-image: none;
	}
	#isearch::-webkit-search-cancel-button {
		background: url(/images/reset-dark.png) no-repeat right center;
		position: relative;
		right: 5px;  
		-webkit-appearance: none;
		height: 15.5px;
		width: 15.5px;
		display: block;
		background-size: 15.5px;
	}
	table {
		table-layout: fixed;
		margin: auto;
		border-collapse: collapse;
	}
	thead tr {
		display: block;
	}
	thead {
		background: #33BEF2;
		color: #FFF;
	}
	th, td {
		width: 300px;
		text-align: center;
	}
	thead th {
		padding: 15px;
	}
	th button {
		float: right;
		color: #FFF;
	}
	th button:hover, th button:focus {
		color: #909090;
	}
	th div {
		height: 32px;	
		width: 100%;
		margin: 20px auto 5px auto;
	}
	.dataTables_filter {
		display: none;
	}
	.dataTables_empty {
		position: absolute;
		left: -9999px;
	}
	th select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url(/assets/images/chevron-arrow.png) no-repeat center right 10px #FFF;
		background-size: 11px;
		padding: 7px 8px;
		border: 0;
		width: 100%;
		font-size: 100%;
		margin: 20px auto 5px auto;
		text-align: center;
		text-align-last: center;
		-ms-text-align-last: center;
		-moz-text-align-last: center;
	}
	th:nth-of-type(4) select {
		text-transform: capitalize;
	}
	th select:focus {
		box-shadow: rgba(165, 165, 165, 0.6) 0px 0px 2px 1.5px;
	}
	tbody {
		display: block;
		max-height: 400px;
		overflow-y: auto;
	}
	tbody th {
		font-weight: 400;
	}
	td, tbody th {
		border: 1px solid #DDD;
		padding: 8px 15px;
	}
	[name="reset"] {
		font-size: 2.5em;
		margin-left: 8px; 
		margin-top: -6px; 
	}

	/*Number Spinner*/
		.nice-number input {
			width: 30px;
			height: 36px;
			padding: 0 5px;
			text-align: center;
			background-color: #FFF;
			border: 1px solid #CCC;
			border-right: 0;
			border-left: 0;
		}
		.nice-number button {
			display: inline-block;
			margin: 0;
			vertical-align: top;
			box-shadow: none;
			height: 38px;
			width: 38px;
			color: #000;
			-webkit-transition: none;
			-moz-transition: none;
			-o-transition: none;
			transition: none;
			background-color: #FFF;
			border: 1px solid #CCC;
			font-size: 1.4em;
			font-weight: 300;
		}
		.nice-number button:hover, .nice-number button.focus-visible {
			background: #CCC;
			color: #FFF;
		}
		.nice-number input::-webkit-outer-spin-button, .nice-number input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0; 
		}

/*Profile*/
	.profile, .shopping-cart {
		position: absolute;
		margin-top: -22px;
		height: 55px;
		line-height: 55px;
		text-align: center;
		font-size: .95em;
		opacity: 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition:all 0.4s ease;
		transition: all 0.4s ease;
	}
	.shopping-cart {
		width: 180px;
		right: 22px;
		height: 60px;
		line-height: 60px;
		cursor: pointer;
	}
	.profile {
		width: 140px;
	}
	.profile a {
		color: #000;
		margin: 0;
	}
	.hover:first-of-type {
		margin-right: 18px;
	}
	.hover:hover > .profile, .hover:hover > .shopping-cart, .hover > .profile.focus-within, .hover > .shopping-cart.focus-within, .profile.focus-within > div, .shopping-cart.focus-within > div {
		left: auto;
		opacity: 1;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.hover > .profile:focus-within, .hover > .shopping-cart:focus-within, .profile:focus-within > div, .shopping-cart:focus-within > div {
		left: auto;
		opacity: 1;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.profile, .shopping-cart {
		background-color: #FFF;
		border-color: #66afe9;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139, 139, 139, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139, 139, 139, 0.6);
	}

/*Footer*/
	footer {
		background-color: #313131;
		color: #FFF;
		text-align: center;
		margin-top: 30px;
		width: 100%;
		display: block;
	}
	.col {
		display:flex;
		flex-direction:column;
	}
	.col > div {
		flex: 1;
		line-height:50px;
	}
	.frow {
		display:flex;
	}
	.frow > div {
		flex: 1;
		line-height:40px;
	}
	nav ul li ul  {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 100%;
		left: 0;
	}
	.visible {
		visibility: visible;
		opacity: 1;
		position: static;
		top: auto;
		left: auto;
	}

/*Media Queries*/
	@media screen and (max-width: 1000px) {
		.desktop {
			display: none;
		}
		header {
			line-height: 1;
		}
		nav {
			font-family: Raleway;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 90%;
		}
		nav li {
			transition: 0.5s;
			font-weight: 500;
		}
		.menu-item:not(:last-of-type) {
			border-bottom: .5px solid #38C8FC;
		}
		.menu-item {
			padding: 30px 0;
			font-weight: 700;
			text-transform: uppercase;
		}
		.menu-item a {
			color: #38C8FC;
		}
		.dropdown {
			padding-top: 20px;
			padding-bottom: 0;
			margin-bottom: 0;
			text-transform: initial;
		}
		.dropdown a {
			color: initial;
		}
		#body-overlay {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(17, 17, 17, 0.5);
		}
		.menu {
			height: 100%;
			width: 1px;
			position: fixed;
			top: 0;
			right: 0;
			background: #FFF;
			overflow-x: hidden;
		}
		.transition {
			transition: .5s;
		}
		#close {
			position: absolute;
			top: -5px;
			right: 5px;
			padding: 8px;
			transition: 0.3s;
			font-size: 2.5em;
			z-index: 1;
		}
		.menu button:not(.acct):hover, #close:focus {
			color: #818181;
		}
		#open {
			font-size: 1.3em;
			color: #FFF;
			position: absolute;
			top: 30px;
			right: 25px;
		}
		.opennav {
			width: 300px;
		}
		.closenav {
			width: 1px;
		}
		.down {
			font-weight: 300;
		}
		.down:after {
			font-family: Roboto;
			font-size: 1.2em;
			font-weight: 300;
			color: #000;
			content: "+";
			display: block;
			transition: transform .25s ease-in-out;
		}
		.submenu-item:focus-within > a + .dropBtn:after {
			font-size: 1.8em;
			transform: rotate(45deg);
		}
		#search {
			background-image: url(/assets/images/gray-search.png);
		}
		#search:focus {
			width: 150px;
			cursor: auto;
			border: .75px solid #CCC;
			background-position: right 5px center;
		}
		#search-container {
			margin-left: 20px;
			margin-bottom: 20px;
		}
		#iconbar {
			position: relative;
			left: 20px;
			bottom: 0;
		}
		.acct {
			vertical-align: top;
			margin-top: -3px;
			color: #4DC9F7;
		}
		#shopping-bag {
			background: #4DC9F7;
			width: 24px;
		}
		#shopping-bag:after { 
			border: 2.4px solid #4DC9F7;
		}
		.profile {
			bottom: 5px;
			left: auto;
		}
		.shopping-cart {
			right: auto;
		}
		main {
			margin: 60px auto;
		}
		#about {
			width: 100%;
		}
		table, #isearch {
			width: 92%;
		}
		th button {
			float: none;
		}
		#contact {
			flex: 1 0 auto;
		}
		#contactInfo {
			width: 100%;
			margin: 0;
		}
		#contactInfo div {
			margin-bottom: 40px;
		}
		#contactInfo iframe {
			display: block;
			height: 350px;		
			width: 87vw;
			margin: auto;
		}
	}
	@media screen and (max-width: 1200px) {
		#acct .flex-container {
			justify-content: center;
		}
	}
	@media screen and (max-height: 450px) {
		#close {
			top: -10px;
			right: 5px;
		}
	}
	@media screen and (min-width: 1000px) {
		.mobile {
			display: none;
			position: absolute;
			left: -9999px;
		}
		header, nav, nav ul {
			display: flex;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			vertical-align: middle;
		}
		header a, li button {
			color: #FFF;
			display: inline-block;
		}
		.menu-item > button {
			margin-left: 3px;
		}
		.transition {
			transition: none;
		}
		.down {
			font-size: 1em;
		}
		.submenu-item:hover > a + .dropBtn:after {
			font-size: 1.8em;
			transform: rotate(45deg);
		}
		.dropdown, .subdropdown {
			background-color: #313131;
		}
		nav ul li:hover > ul, nav ul li ul:hover, nav ul li.focus-within > ul {
			visibility: visible;
			opacity: 1;
			display: block;
		}
		nav ul li:focus-within > ul, .visible {
			visibility: visible;
			opacity: 1;
			display: block;	
		}
		nav ul li.menu-item > ul {
			transition: opacity 0.5s ease;
		}
		nav ul li.submenu-item > ul {
			transition: opacity 0.18s ease;
		}
		nav ul ul ul {
			left: 100%;
			top: 0;
		}
		.menu-content > ul > li:before, .menu-content > ul > li:hover:before, .menu-content > ul > li.focus-within:before {
			content: "";
			position: absolute;
			bottom: 32px;
			width: 100%;
			height: 0;
			border-bottom: .7px solid #FFF;
			-webkit-transform: scaleX(0);
			-ms-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: -webkit-transform 0.2s ease-in;
			transition: transform 0.2s ease-in;
		}
		.menu-content > ul > li:focus-within:before {
			content: "";
			position: absolute;
			bottom: 32px;
			width: 100%;
			height: 0;
			border-bottom: .7px solid #FFF;
			-webkit-transform: scaleX(0);
			-ms-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: -webkit-transform 0.2s ease-in;
			transition: transform 0.2s ease-in;
		}
		.menu-content > ul > li:hover:before, .menu-content > ul > li.focus-within:before, nav li.active:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
		.menu-content > ul > li:focus-within:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
		#search:focus {
			width: 160px;
			cursor: auto;
			color: #FFF;
			border: .75px solid #DDD;
			background-position: right 5px center;
		}

		/*Iconbar*/
			#iconbar {
				position: absolute;
				right: 20px;
			}
			.acct {
				color: #00AAEF;
			}
			#shopping-bag {
				background: #00AAEF;
				width: 25.5px;
			}
			#shopping-bag:after { 
				border: 2.4px solid #00AAEF;
			}
			.profile {
				right: 5px;
			}
			table, #isearch {
				width: 92%;
			}
			tbody tr:nth-child(even) {
				background-color: #F2F2F2;
			}
			tbody tr:hover {
				background-color: #DDD;
			}
			#acct .flex-container {
				justify-content: space-between;
			}
			#contactInfo {
				margin-left: 100px;
			}
			#contactInfo div:last-of-type, #contactInfo iframe {
				height: 350px;		
				width: 40vw;
			}
			#contactInfo div:not(:last-of-type) {
				margin-bottom: 40px;
			}
	}
	@media screen and (min-width: 1200px) {
		#register {
			margin-left: 80px;
		}
	}