@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

html {
  	-webkit-text-size-adjust: 100%;
  	-moz-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}
* {
  	margin: 0;
	padding: 0;
	font-family: Raleway;
}
*:focus {
	outline: 0;
}
a {
	text-decoration: none;
}
header {
	background-color: #313131;
	width: 100%;
 	height: 95px;
  	line-height: 95px;
}
nav ul {
	display: flex;
	align-items:center;
	/*justify-content: center;*/
	list-style-type: none;
	padding: 0;
}
nav li {
	margin-left: 40px;
}
nav a {
	color: #FFF;
	transition: 0.5s;
}
nav a:hover {
	color: #24A2E3;
}
nav img {
	vertical-align: middle;
}
#featured h1 {
	text-align: center;
	text-transform: uppercase;
}
#featured img {
	display: block;
	margin: auto;
}
main {
	margin-top: 30px;
}
#searchbar {
	position: relative;
	text-align: center;
}
#search {
  	background-image: url("../images/search.png");
 	background-position: 900px 8px;
  	background-repeat: no-repeat;
  	font-size: 16px;
  	border: 1px solid #DDD;
	margin-bottom: 30px;
	padding: 10px 0;
	text-align: center;
	width: 937px;
}
#search:focus {
	border: 1px solid #A9A9A9;
}
#search:focus, #search:valid {
	background: none;
}
#search:invalid ~ #clear {
	color: transparent;
}
#clear {
	background-color: transparent;
	color: #707070;
	border: 0 !important;
	position: absolute;
	top: -3px;
	left: 1070px;
	vertical-align: middle;
	width: 20px;
	font-size: 2.2em;
}
#clear:hover, #clear:active  {
	color: #000;
}
table {
    	table-layout: fixed;
    	border-collapse: collapse;
	margin: auto;
	text-align: center;
	width: 937px;
}
thead tr {
   	display: block;
}
thead, table a {
  	background: #4CAF50;
  	color: #FFF;
}
th, td {
  	width: 200px;
}
th {
	padding: 15px;
}
th i {
	float: right;
	vertical-align: middle;
}
th i:hover {
	color: #313131;
}
tbody {
  	display:block;
  	width: 100%;
  	height: 400px;
  	overflow-y: auto;
}
td {
	border: 1px solid #DDD;
	padding: 8px 15px;
}
tbody tr:nth-child(even) {
	background-color: #F2F2F2;
}
tbody tr:hover {
	background-color: #DDD;
}
.slidecontainer {
	margin: 20px 0 10px 0;
	width: 100%;
}
.slider {
  	-webkit-appearance: none;
  	width: 100%;
  	height: 25px;
 	background: #D3D3D3;
 	outline: none;
 	opacity: 0.7;
 	-webkit-transition: .2s;
  	transition: opacity .2s;
}
.slider:hover {
 	opacity: 1;
}
.slider::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	appearance: none;
 	width: 25px;
  	height: 25px;
  	background: #707070;
  	cursor: pointer;
}
.slider::-moz-range-thumb {
  	width: 25px;
  	height: 25px;
  	background: #707070;
  	cursor: pointer;
}
footer {
	background-color: #313131;
	color: #FFF;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: 30px;
}