@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

html {
  	-webkit-text-size-adjust: 100%;
  	-moz-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}
html, body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
* {
  	margin: 0;
	padding: 0;
	font-family: Raleway;
}
*:focus {
	outline: 0;
}
a {
	text-decoration: none;
	color: #000;
}
.hidden {
	position: absolute;	
	left: -9999px;
}
h1 {
	font-family: Poppins;
	text-align: center;
}

/*Containers*/
	.container {
	}
	.flex-container {
		display: flex;
		flex-wrap: wrap;
	}
	
/*Header*/
	header {
		position: sticky;
		top: 0;
		background-color: #313131;
		width: 100%;
		height: 95px;
		line-height: 95px;
	}
	#sticky {
		background-color: #000;
	}
	nav a {
		display: inline-block;
		position: relative;
		color: #FFF;
		margin: 0 15px;
		padding: 5px 0;
	}
	nav a:hover {
		color: #24A2E3;
	}
	nav a:before {
		content: "";
		position: absolute;
		bottom: 35px;
		width: 100%;
		height: 0;
		border-bottom: .5px solid #FFF;
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: -webkit-transform 0.2s ease-in;
		transition: transform: 0.2s ease-in;
	}
	nav a:hover:before, .active:before {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1);
	}
	nav img {
		vertical-align: middle;
	}
	#hamburger {
		font-family: Poppins;
		vertical-align: top;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin: 0;
		font-size: 1.2em; 
		color: #FFF;
		position: absolute;
		right: 20px;
	}

/*Main*/
	main {
		margin: 60px 0;
	}
	
/*Inventory*/
	#searchbar {
		position: relative;
		text-align: center;
	}
	#search {
		font-size: 16px;
		border: 1px solid #DDD;
		margin-bottom: 50px;
		padding: 10px 0;
		text-align: center;
		width: 100%;
	}
	::-webkit-search-cancel-button {
		position: relative;
		right: 10px;  
		-webkit-appearance: none;
		height: 14px;
		width: 14px;
		display: block;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
		background-repeat: no-repeat;
		background-size: 16px;
	}
	#search:focus {
		border: 1px solid #A9A9A9;
	}
	#search:focus, #search:valid {
		background: none;
	}
	#search:invalid ~ #clear {
		color: transparent;
	}
	table {
		table-layout: fixed;
		border-collapse: collapse;
	}
	thead tr {
		display: block;
	}
	thead {
		background: #33BEF2;
		color: #FFF;
	}
	th, td {
		width: 200px;
	}
	th {
		padding: 15px;
	}
	th i {
		float: right;
		vertical-align: middle;
	}
	th i:hover {
		color: #313131;
	}
	tbody {
		display: block;
		height: 400px;
		overflow-y: auto;
	}
	td {
		border: 1px solid #DDD;
		padding: 8px 15px;
	}
	td a::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		padding: 8px 0;
		height: 30px;
	}
	tbody tr:nth-child(even) {
		background-color: #F2F2F2;
	}
	tbody tr:hover {
		background-color: #DDD;
	}
	
/*Contact*/
	#contact {
		font-weight: 400;
	}
	#contact input:not([type="checkbox"]), #contact textarea, #contact button {
		display: inline-block;
		width: 45vw;
		padding: 12px 5px;
		margin: 8px 0 20px 0;
		border: 1px solid #CCC;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: Poppins;		
		font-size: 1em;
		font-weight: 300;
	}
	#contact input:focus, #contact select:focus, #contact textarea:focus {
		border: 1.2px solid #3DC1F2;
	}
	#contact textarea {
		resize: none;
	}
	#contact select {
		text-align: center;
		text-align-last: center;
	}
	#contact button[type=submit] {
		background-color: #52D1FF;
		color: #FFF;
		padding: 14px 20px;
		border: none;
		cursor: pointer;
		font-weight: 500;
		font-size: 1.1em;
		transition: .7s;
	}
	#contact button[type=submit]:hover {
		background-color: #33BEF2;
	}
	#contact input[type="checkbox"] {			
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 14px;
		height: 14px;
		border: 1px solid #CCC;
		border-radius: 3px;
	}
	#contactInfo {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		margin-left: 100px;
		font-weight: 400;
	}
	#contactInfo div:not(:last-of-type) {
		margin-bottom: 40px;
	}
	#contactInfo span, .details {
		line-height: 0;
	}
	#contactInfo div span {
		font-size: 2em;
		color: #52D1FF;
	}
	.details {
		display: inline;
		vertical-align: top;
	}
	.details > * {
		margin-left: 20px;
	}
	#contactInfo div:last-of-type, #contactInfo iframe {
		height: 350px;		
		width: 40vw;
	}
	address {
		display: inline;
		font-style: normal;
	}

/*Footer*/
	footer {
		background-color: #313131;
		color: #FFF;
		height: 80px;
		line-height: 80px;
		text-align: center;
		margin-top: 30px;
		width: 100%;
	}

/*Media Queries*/
	@media screen and (max-width: 1000px) {
		main {
			margin: 60px auto;
			width: 90%;
		}
		#contact {
			margin-top: 40px;
			order: 2;
			width: 75vw; 
		}
		#contactInfo {
			width: 100%;
			margin: 0;
			order: 1;
		}
		#contact {
			margin-top: 40px;
			order: 2;
			flex: 1 0 auto;
		}
		#contactInfo div:last-of-type {
			order: 1;
			margin-bottom: 40px;
		}
		#contactInfo div:first-of-type {
			order: 2;
		}
		#contactInfo div:nth-of-type(2) {
			order: 3;
		}
		#contactInfo div:nth-of-type(3) {
			order: 4;
		}
		#contactInfo iframe {
			display: block;
			height: 350px;		
			width: 87vw;
			margin: auto;
		}
	}
	@media screen and (max-width: 700px) {
		form input, form textarea, form button {
			width: 100% !important;
		}
	}
	@media screen and (max-width: 1260px) {
		#profile {
			margin-bottom: 35px;
		}
	}