@import url('https://fonts.googleapis.com/css?family=Roboto:300,700|Raleway:300,400,500,700|Material+Icons&display=swap');
@import url('/css/general.css');

/*Iconbar*/
	#iconbar > div {
		display: inline;
	}
	#iconbar {
		position: absolute;
		right: 20px;
	}
	
/*Main*/
	section.info {
		width: 92%;
		margin: auto;
	}
	.info h4 {
		font-weight: 700;
		font-size: 1.1em;
	}

/*About Us*/
	#about p {
		line-height: 2;
	}
	#about img {
		width: 115px;
		height: 115px;
	}
	.about {
		text-align: center;
	}
	.row > div {
		flex: 1;
	}
	.row > div:not(:last-of-type) {
		margin-right: 30px;
	}
	.about i {
		font-size: 4em;
		color: #3BCBFF;
	}

/*Products*/
	.gallery {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		justify-content: center;
		flex-wrap: wrap;
		background-color: transparent;
	}

	.gallery div.product {
		box-sizing: border-box;
		margin: 40px 60px;
		background-color: transparent;
	}	
	.view {	
		width: 80%;	
		margin: 10px auto;		
		text-align: center;
	}
	.view button {
		text-indent: 0;
		font-weight: 400;
		font-size: 115%;
		margin: 20px auto 0 auto;
		padding: 13px 14px;
	}
	.caption {
		font-weight: 600;
		font-size: 18px;
		text-align: center;
	}
	.caption span {
		display: block;
		font-weight: 500;
		margin-left: 0;
		margin-top: 20px;
	}
	.zoom {
	  background-position: 50% 50%;
	  overflow: hidden;
	  cursor: move;
	}
	.products .zoom, div.product img {
		width: 250px;
		height: 450px;
	}
	form.product .zoom {
		width: 270px;
		height: 500px;
	}
	.zoom img {
		transition: opacity .5s;
		width: 100%;
		height: 100%;
		display: block;
		margin: auto;
	}
	.zoom img:hover {
		opacity: 0;
	}
	.gallery .flex-container {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.product-details h1 {
		text-align: left;
		margin: 0 auto;
	}
	.product-details ul {
		margin-top: 0;
		float: right;
	}
	.clear {
		clear: both;
	}
	h3.product-info {
		top: 60px;
	}
	h3.no-stock {
		top: 20px;
	}
	.price-range, .no-stock {
		margin-bottom: 1.8em;
	}
	[type="radio"] {
		position: absolute;
		left: -9999px;
	}
	.options {
		margin-top: 40px;
	}
	.options label {
		cursor: pointer;
		text-align: center !important;
		vertical-align: middle;
		font-size: 95%;
	}
	[type="radio"] + label {
		display: inline-block;
		border: 1px solid #CCC;
	}
	[type="radio"] + label.sizes {
		width: 50px;
		height: 35px;
		line-height: 35px;
	}
	[type="radio"] + label.colors {
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	[type="radio"] + label {
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
	[type="radio"]:checked + label:not(.colors), [type="radio"]:focus + label:not(.colors), [type="radio"]:hover:not([disabled]) + label:not(.colors) {
		background: #000;
		color: #FFF;
		border: 1px solid #000;
	}
	[type="radio"]:checked + label.colors, [type="radio"]:focus + label.colors, [type="radio"]:hover:not([disabled]) + label.colors {
		border: 0;
		outline: 2px solid #000;
		outline-offset: 1.5px;
	}
	[type="radio"]:disabled + label {
		cursor: not-allowed;
		background-color: #CCC;
	}
	[type="radio"]:disabled + label :not(.colors) {
		background-color: #CCC;
	}
	label:focus:not([disabled]) {
		background: #000;
		color: #FFF;
		border: 2px solid #000;
		outline: 0;
	}
	.price {
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 25px;
	}
	.cart {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.cart button[type="submit"] {
		margin-left: 20px;
	}

/*Shopping Bag Icon*/
	#shopping-bag {  
		font-family: Roboto;
		font-size: .8em;
		vertical-align: middle;
		display: inline-block;
		position: relative;  
		background-color: #4DC9F7;
		color: #FFF;
		width: 22px;
		height: 18px;  
		line-height: 18px;
		text-align: center;
	}
	#shopping-bag:after {
		display: block;
		content: "";
		position: absolute;
		top: -7px;
		left: 4px;
		right: 4.2px;
		border-radius: 3px;
		z-index: -1;
		height: 10px;
		border: 2.5px solid #4DC9F7;
	}
	#shopping-bag span {
		vertical-align: middle;
	}

/*Product*/ 
	.product {
		text-align: left;
	}

/*My Account*/
	#acct {
		justify-content: center;
	}
	#acct form {
		padding: 30px;
		width: 450px;	
		background-color: #F5F5F5;
	}
	fieldset {
		border: 0;
	}
	legend {
		font-weight: 700;
		font-size: 20px;
	}
	#acct label {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 85%;
	}
	#acct button {
		margin-top: 20px;
	}
	button[name="login"] {
		padding: 12px 18px;
	}
	button[name="register"] {
		padding: 14px 18px;
	}
	#login input, #register input, #register select {
		width: 200px;
		height: 25px;
		text-indent: 3px;
		font-size: 90%;
	}
	#register label {
		display: inline-block;
		width: 150px;
	}
	.required {
		font-size: 1.4em;
	}
	
/*Contact*/
	#contact {
		font-weight: 400;
	}
	#contact input:not([type="checkbox"]), #contact textarea, #contact button {
		display: inline-block;
		width: 45vw;
		padding: 12px 5px;
		margin: 8px 0 20px 0;
		border: 1px solid #CCC;
		border-radius: 4px;
		box-sizing: border-box;	
		font-size: 1em;
	}
	#contact input:focus, #contact textarea:focus {
		border: 1.2px solid #3DC1F2;
	}
	#contact textarea {
		resize: none;
	}
	#contact button[type="submit"] {
		border: 0;
		padding: 14px 20px;
	}
	#contact input[type="checkbox"] {			
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 14px;
		height: 14px;
		border: 1px solid #CCC;
		border-radius: 3px;
	}
	#contactInfo {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		font-weight: 400;
	}
	#contactInfo span, .details {
		line-height: 0;
	}
	#contactInfo div span {
		font-size: 2em;
		color: #52D1FF;
	}
	.details {
		display: inline;
		vertical-align: top;
	}
	.details > * {
		margin-left: 20px;
	}
	#contactInfo iframe {
		border: 0;
	}
	address {
		display: inline;
		font-style: normal;
	}

/*Privacy Policy*/
	#pp ul {
		list-style-type: none;
		margin-left: 20px;
	}

	#registerInfo {
		padding-top: 20px;
		padding-left: 20px;
		width: 500px;
		height: 700px;
	}
/*Footer*/
	footer {
		background-color: #313131;
		color: #FFF;
		text-align: center;
		margin-top: 30px;
		width: 100%;
		display: block;
	}
	
	.col{
		display:flex;
		flex-direction:column;
	}
	.col>div{
		flex: 1;
		line-height:50px;
	}
	.frow{
		display:flex;
	}
	.frow>div{
		flex: 1;
		line-height:40px;
	}
	#pp ul > li:before {
		content: "–"; /* en dash */
		position: absolute;
		margin-left: -1.1em; 
	}

/*Media Queries*/
	@media screen and (max-width: 600px) {
		div.zoom {
			height: 450px;
			width: 250px;
			margin: auto;
		}
		.product-details {
			width: 80%;
			text-align: right;
		}
		th, td {
			width: 70px;
		}
		th span {
			float: none;
		}
		#contact input, #contact textarea, #contact button {
			width: 100% !important;
		}
	}
	@media screen and (min-width: 600px) and (max-width: 1000px) {
		#contact input, #contact textarea, #contact button {
			width: 90% !important;
		}
	}
	@media screen and (max-width: 800px) {
		.row {
			display: block;	
		}
		.row > div {
			margin-top: 30px;
			margin-right: 0 !important;
		}
		.fa-sort:not(#stg) {
			margin-top: 40px;
		}
		#stg {
			margin-top: 22px;
		}
		th select {
			background-position: center right 3px;
		}
	}	
	@media screen and (min-width: 600px) and (max-width: 700px) {
		div.zoom {
			width: 200px;
			height: 370px;
		}
	}